<!DOCTYPE html>
<html ng-app="axaInputExample" style=" background-color: lightgray">
   <meta http-equiv="X-UA-Compatible" content="IE=edge">
   <meta http-equiv="Content-Type" content="text/html; charset=Windows-31J"/>
   <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=0" />
   <meta name="apple-mobile-web-app-capable" content="yes">
   <html>
      <head>
         <meta http-equiv="Content-Type" content="text/html; charset=Windows-31J"/>
         <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.min.js"></script>
         <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.4/angular-material.min.js"></script>
         <script type="text/javascript" src="https://code.angularjs.org/1.5.0/angular-animate.min.js"></script>
         <script type="text/javascript" src="https://code.angularjs.org/1.5.0/angular-aria.min.js"></script>
         <script type="text/javascript" src="https://code.angularjs.org/1.5.0/angular-sanitize.min.js"></script>
         <script type="text/javascript" src="demo/js/config/config.js"></script>
         <script type="text/javascript" src="demo/js/controller/ExampleController.js"></script>
         <script type="text/javascript" src="demo/js/services/Services.js"></script>
         <script type="text/javascript" src="demo/lib/jquery-1.9.0.js"></script>
         <script type="text/javascript" src="lib/AXA-Input.js"></script>
         <script type="text/javascript" src="lib/AXA-Input-JP-Extension.js"></script>
         <script type="text/javascript" src="demo/js/directive/Directives.js"></script>
         <script type="text/javascript" src="demo/lib/angular-clipboard.js"></script>
         <script type="text/javascript" src="demo/lib/jquery.scrollTo.js"></script>
         <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-material-icons/0.6.0/angular-material-icons.min.js"></script> 
         <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.4/angular-material.min.css">
         <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.0.4/angular-material.min.css">
         <script type="text/javascript">
         </script>
         <LINK href="demo/css/AXA-input.css" rel="stylesheet" type="text/css">
         <LINK href="demo/css/flag-css/flag-icon.css" rel="stylesheet" type="text/css">
         <title></title>
      </head>
      <body ng-controller="ExampleController" style="overflow:hidden">
         <md-toolbar layout="row" >
            <div class="md-toolbar-tools" layout layout-align="start center" flex>
               <span layout="column" flex>
                  <span layout="row" flex>
                     <ng-md-icon ng-click="focused = true" icon="search" style="fill: white; margin-top : 55px; cursor : pointer" size="25"></ng-md-icon>
                     <md-input-container class="" style="margin-top : 50px" md-no-float="false">
                        <input placeholder="Filter Inputs" ng-model="filterText" type="text" class='searchField' ng-blur="focused = false" ng-focus="focused = true" focus="focused == true">
                     </md-input-container>
                     <md-button ng-if="filterText && filterText.length > 0" class="md-fab md-mini md-primary" style="padding-top:6px; margin-top:47px" ng-click="setSelectedInput()">
                        <ng-md-icon icon="clear" style="fill:white" size="25"></ng-md-icon>
                        <md-tooltip md-direction="bottom">
                           Clear
                        </md-tooltip>
                     </md-button>
                     <span flex></span>
                     
                     <md-input-container ng-hide="countries.length == 0 || (selectedInputCountry && !flag.selectedFlag)" style="margin-top : 50px">
                        <label ng-if="!flag.selectedFlag">Country</label>
                        <md-select ng-model="flag.selectedFlag">
                        	<md-option  value="global">
                              <ng-md-icon ng-if="!example.country || example.country == ''" icon="language"  ng-style="{'fill' : example.type == 'javascript' ? 'black' : 'lightgrey'}" style="" size="25"></ng-md-icon>
                           </md-option>
                           <md-option ng-repeat="country in countries track by $index" value="{{country}}">
                              <span class="flag-icon" ng-class="'flag-icon-'+country"></span>
                           </md-option>
                        </md-select>
                     </md-input-container>
                     <md-button ng-if="flag.selectedFlag" class="md-fab md-mini md-primary" style="padding-top:6px; margin-top:47px" ng-click="flag.selectedFlag = ''">
                        <ng-md-icon icon="clear" style="fill:white" size="25"></ng-md-icon>
                        <md-tooltip md-direction="bottom">
                           Clear
                        </md-tooltip>
                     </md-button>
                     
                     <md-input-container style="margin-top : 50px">
                        <label ng-if="!selectedInput || selectedInput == ''">Select an Input</label>
                        <md-select ng-model="selectedInput">
                           <md-option ng-repeat="example in search.examples | filter:{country : flag.selectedFlag}" value="{{example.title}}">
                              {{example.title}}
                           </md-option>
                        </md-select>
                     </md-input-container>
                     <md-button ng-if="selectedInput" class="md-fab md-mini md-primary" style="padding-top:6px; margin-top:47px" ng-click="setSelectedInput()">
                        <ng-md-icon icon="clear" style="fill:white" size="25"></ng-md-icon>
                        <md-tooltip md-direction="bottom">
                           Clear
                        </md-tooltip>
                     </md-button>
                  </span>
               </span>
            </div>
         </md-toolbar>
         <md-content id="scrollview" style="overflow:hidden; height : 85%; background-color :lightgrey; padding-top : 10px" flex layout="row">
            <form action="#" method="get" id="theForm" md-content style="overflow-y:auto; overflow-x:hidden; height : 100%; background-color :transparent" flex="60" >
               <!-- enter triggers a submission -->
               <button ng-show="false" type="submit"></button>
               <div focusfade ng-repeat="example in examples | filter:filterText | filter:{country : flag.selectedFlag} track by $index" style="padding-right : 15px">
                  <md-toolbar layout="row">
                     <div class="md-toolbar-tools">
                        <span>{{example.title}}</span>
                        <span flex></span>
                        <ng-md-icon ng-if="!example.country || example.country == 'global'" icon="language"  ng-style="{'fill' : example.type == 'javascript' ? 'black' : 'lightgrey'}" style="display:block" size="25"></ng-md-icon>
                     	<span ng-if="example.country.length > 1" class="flag-icon" ng-class="'flag-icon-'+example.country"></span>
                     </div>
                  </md-toolbar>
                  <md-content style="overflow : hidden;" class="md-primary md-hue-1">
                     <br>
                     <div  ng-bind-html="example.html"></div>
                     <div layout="row">
                        <md-button scrolltome="example.type" scrollview="theForm"  matchvalue="javascript"  class="md-raised" ng-click="example.type = example.type != 'javascript' ? 'javascript' : null">
                           <span zoom="example.type == 'javascript'">Javascript</span>
                           <ng-md-icon icon="check_box"  ng-style="{'fill' : example.type == 'javascript' ? 'black' : 'lightgrey'}" style="display:block" size="25"></ng-md-icon>
                        </md-button>
                        <md-button scrolltome="example.type" scrollview="theForm"  matchvalue="html" class="md-raised" ng-click="example.type = example.type != 'html' ? 'html' : null">
                           <span zoom="example.type == 'html'">HTML</span>
                           <ng-md-icon icon="check_box"  ng-style="{'fill' : example.type == 'html' ? 'black' : 'lightgrey'}" style="display:block" size="25"></ng-md-icon>
                        </md-button>
                        <md-button scrolltome="example.type" scrollview="theForm"  matchvalue="message" class="md-raised" ng-click="example.type = example.type != 'message' ? 'message' : null">
                           <span zoom="example.type == 'message'">Explanation</span>
                           <ng-md-icon icon="check_box"  ng-style="{'fill' : example.type == 'message' ? 'black' : 'lightgrey'}" style="display:block" size="25"></ng-md-icon>
                        </md-button>
                     </div>
                     <div collapse="example.type !='html'">
                        <md-input-container class="md-block textNoError">
                           <md-button class="md-fab md-mini md-primary" style="padding-top:6px" clipboard text="example.html" on-copied="showActionToast()">
                              <ng-md-icon icon="content_copy" style="fill:white" size="25"></ng-md-icon>
                              <md-tooltip md-direction="top">
                                 Copy
                              </md-tooltip>
                           </md-button>
                           <textarea aria-label="html" md-detect-hidden="true" ng-model="example.html" md-select-on-focus></textarea>
                        </md-input-container>
                     </div>
                     <div collapse="example.type !='javascript'">
                        <md-input-container  class="md-block textNoError">
                           <md-button class="md-fab md-mini md-primary" style="padding-top:6px" clipboard text="example.javascript" on-copied="showActionToast()">
                              <ng-md-icon icon="content_copy" style="fill:white" size="25"></ng-md-icon>
                              <md-tooltip md-direction="top">
                                 Copy
                              </md-tooltip>
                           </md-button>
                           <textarea aria-label="javascript" md-detect-hidden="true" ng-model="example.javascript" md-select-on-focus></textarea>
                        </md-input-container>
                     </div>
                     <div collapse="example.type !='message'">
                        <md-input-container   class="md-block textNoError">
                           <md-button class="md-fab md-mini md-primary" style="padding-top:6px" clipboard text="example.message" on-copied="showActionToast()">
                              <ng-md-icon icon="content_copy" style="fill:white" size="25"></ng-md-icon>
                              <md-tooltip md-direction="top">
                                 Copy
                              </md-tooltip>
                           </md-button>
                           <textarea  aria-label="message" md-detect-hidden="true" ng-model="example.message" md-select-on-focus></textarea>
                        </md-input-container>
                     </div>
                  </md-content>
                  <br>
               </div>
            </form>
            <md-content flex="40" style=" height:100%; padding-left: -10px; background-color : transparent">
               <md-content style=" background-color :transparent">
               		<md-toolbar layout="row">
                     <div class="md-toolbar-tools">
                        <span>{{isValid ? "Form is valid" : "Form is invalid"}}</span>
                     </div>
                  </md-toolbar>
               </md-content>
               <md-content collapse="isValid"  class="md-primary md-hue-1">
			      <md-list class="md-dense" flex>
			        <md-list-item  layout="row" ng-repeat="reason in reasons track by $index">
			          <ng-md-icon icon="error" style="fill:red" size="25"></ng-md-icon>
			          &nbsp;&nbsp;
			          <span><h3>
				          <a href="" focusinput="reason.input">
				          	{{reason.reason}}
				          	<md-tooltip md-direction="bottom">
                                 Click to focus field
                              </md-tooltip>
				          </a></h3>
				      </span>
			          <md-divider flex></md-divider>
			        </md-list-item>
			       </md-list>
            </md-content>
         </md-content>
      </body>
   </html>