

html{
	background-color : lightgrey;
}

body{
	font-size : 14px;
	background-color : lightgrey;
	padding : 2.5%;
	
}

.errordiv{
	background-color : darkgrey;
	padding : 10px;
	font-size: 14px;
	display : flex;
	align-items : center;
	width : 100%
}

.textNoError  {
 font-size: 14px;
  width : 100%;
  background-color : white;
  padding: 10px;
  border: none;
  border-bottom: solid 2px grey;
  -webkit-transition: border .3s;
  -moz-transition: border .3s;
  -o-transition: border .3s;
  transition: border .3s;
}
.textNoError:focus {
  border-bottom: solid 5px grey;
}

.textError  {
  background-color : white;
  padding: 10px;
  border: none;
  border-bottom: solid 5px red;
  -webkit-transition: border .3s;
  -moz-transition: border .3s;
  -o-transition: border .3s;
  transition: border .3s;
}
.textError:focus {
  border-bottom: solid 10px red;
}

.myButton {
	font-size: 14px;
	width : 95%;
	-moz-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	-webkit-box-shadow:inset 0px 1px 3px 0px #91b8b3;
	box-shadow:inset 0px 1px 3px 0px #91b8b3;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #768d87), color-stop(1, #6c7c7c));
	background:-moz-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-webkit-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-o-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:-ms-linear-gradient(top, #768d87 5%, #6c7c7c 100%);
	background:linear-gradient(to bottom, #768d87 5%, #6c7c7c 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#768d87', endColorstr='#6c7c7c',GradientType=0);
	background-color:#768d87;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	border:1px solid #566963;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-weight:bold;
	padding:11px 23px;
	text-decoration:none;
	text-shadow:0px -1px 0px #2b665e;
	text-align : center;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #6c7c7c), color-stop(1, #768d87));
	background:-moz-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-webkit-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-o-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:-ms-linear-gradient(top, #6c7c7c 5%, #768d87 100%);
	background:linear-gradient(to bottom, #6c7c7c 5%, #768d87 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c7c7c', endColorstr='#768d87',GradientType=0);
	background-color:#6c7c7c;
}
.myButton:active {
	position:relative;
	top:1px;
}

.divResize{
	-moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -webkit-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -moz-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    -o-transition: width 1s ease-in-out, left 1.5s ease-in-out;
    transition: width 1s ease-in-out, left 1.5s ease-in-out;
}




//example stuff

.searchField{
	color : white;	
	width : auto;
}

::-webkit-input-placeholder {
 color: lightgrey;
}
::-moz-placeholder { /* older Firefox*/
 color: lightgrey;
}
::-moz-placeholder { /* Firefox 19+ */ 
 color: lightgrey; 
} 
::-ms-input-placeholder { 
 color: white;
}
